
div.code-container {
	position: relative;
	border: 1px solid var(--color-light-gray);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.code-container #code {
	color: var(--color-black);
	font-family: monospace;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 10px;
	width: calc(100% - 60px);
	text-align: center;
}
.code-container .btn {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 100%;
	background-color: var(--color-light-gray);
	border: none;
	right: 0px;
	top: 0px;
	transition: 0.3s;
	text-align: center;

}

	.code-container .btn:hover {
		background-color: var(--color-blue);
		color: white;
		transition: 0.3s;
	}

	.code-container .btn:active {
		background-color: var(--color-black);
		color: white;
		transition: 0.3s;
	}


div.printableDatas {
	background-color: var(--color-light-gray);
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

}

div.printableDatas p {
	text-align: center;
}

div.printableDatas p span {
	font-family: monospace;
	font-weight: bold;
	font-size: 1.5rem;
	color: var(--color-black);
}


.validation {
	font-size: .8em;
	color: gray;
	margin: -1.5em 1em 1em 1em;
	min-height: 2em;
}

.validation.validation-error {
	color: red;
}

.validation.validation-success {
	color: green;
}

.validation.validation-uncertain {
	color: orange;
}